.clonnedItem {
    opacity: 0.3;
    cursor: not-allowed;
}

.tableIcon {
    cursor: pointer;
    font-size: 24px;
    margin-top: 4px;
 }
 .tableIcon1 {
   cursor: pointer;
   font-size: 22px;
   margin-top: 4px;
   
}
 .tableIcon:hover,
 .tableIcon1:hover {
    transform: scale(1.1);
 }
 .tableIcon:active,
 .tableIcon1:active {
    transform: translateY(-1px);
 }